.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background: url(../assets/images/aa58a0d3-dba8-4521-a625-4daea0cee497.png)
    no-repeat center;
  background-size: cover;
  overflow: hidden;
}
.auto-layer-row-c {
  position: relative;
  width: 1421px;
  height: 74px;
  margin: 0 0 0 19px;
  z-index: 8;
}
.rectangle {
  position: absolute;
  width: 1194px;
  height: 74px;
  top: 0;
  left: 227px;
  background: rgb(255, 255, 255);
  z-index: 4;
}
.ellipse {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 12px;
  left: 1090px;
  background: url(./assets/images/6be99930-5341-4992-8e40-30a258db9d6d.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
  border-radius: 50%;
}
.iconamoon-profile {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 18px;
  left: 1095px;
  opacity: 0.5;
  z-index: 27;
  overflow: hidden;
}
.group {
  position: relative;
  width: 26.667px;
  height: 26.667px;
  margin: 6.667px 0 0 6.667px;
  z-index: 28;
  overflow: visible auto;
}
.vector {
  position: relative;
  width: 12px;
  height: 12px;
  margin: -1px 0 0 7.333px;
  background: url(./assets/images/f1cf32e0-3f15-4431-9757-74ec3f6d72d1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 30;
}
.vector-1 {
  position: relative;
  width: 28.667px;
  height: 12px;
  margin: 4.667px 0 0 -1px;
  background: url(./assets/images/707c9a87-ebf9-49eb-b816-39a4408c8ba0.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 29;
}
.vector-2 {
  position: absolute;
  width: 1.51%;
  height: 28.38%;
  top: 40.54%;
  left: 87.77%;
  background: url(./assets/images/b88f2b20-7ef1-414f-8f9b-ffecb8c83442.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 32;
}
.admin-it-del {
  position: absolute;
  height: 49px;
  top: 20px;
  left: 0;
  font-family: Moul, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 27px;
  font-weight: 400;
  line-height: 48.779px;
  text-align: left;
  z-index: 8;
}
.auto-layer-row {
  position: relative;
  width: 1418px;
  height: 116px;
  margin: 0 0 0 22px;
  z-index: 24;
}
.rectangle-3 {
  position: absolute;
  width: 1194px;
  height: 116px;
  top: 0;
  left: 224px;
  font-size: 0px;
  background: rgb(98, 75, 254);
  z-index: 7;
  border-radius: 4px;
}
.program-pendidikan {
  display: inline-block;
  position: relative;
  height: 48px;
  margin: 32px 0 0 56px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  z-index: 34;
}
.iconamoon-notification {
  position: relative;
  width: 24px;
  height: 24px;
  margin: -9px 0 0 1017px;
  z-index: 31;
  overflow: hidden;
}
.vector-4 {
  position: absolute;
  width: 1.69%;
  height: 20.69%;
  top: 54.31%;
  left: 0;
  background: url(./assets/images/b5ecd591-4ab5-42c2-884c-499826244781.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 24;
}
.dashboard {
  position: absolute;
  height: 22px;
  top: 63px;
  left: 38px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 21.784px;
  text-align: left;
  z-index: 15;
}
.pengumuman {
  display: inline-block;
  position: relative;
  height: 22px;
  margin: 2px 0 0 60px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 21.784px;
  text-align: left;
  z-index: 10;
}
.auto-layer-row-cb {
  position: relative;
  width: 473px;
  height: 40px;
  margin: 18px 0 0 17px;
  z-index: 39;
}
.bg {
  position: absolute;
  width: 134px;
  height: 36px;
  top: 0;
  left: 339px;
  background: rgb(42, 183, 99);
  z-index: 39;
  border-radius: 4px;
}
.tambah {
  position: absolute;
  height: 17px;
  top: 9px;
  left: 47px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.943px;
  text-align: left;
  z-index: 122;
}
.vector-5 {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 12px;
  left: 30px;
  background: url(./assets/images/42307e30-aca0-48ad-acff-15d0538218f0.png)
    no-repeat center;
  background-size: cover;
  z-index: 121;
}
.material-symbols-light-school-outline {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 11px;
  left: 0;
  z-index: 18;
  overflow: hidden;
}
.vector-6 {
  position: relative;
  width: 21.563px;
  height: 17.566px;
  margin: 5.02px 0 0 3.718px;
  background: url(./assets/images/4d3b4a0e-dd43-45f2-a6cc-c4272447bb7e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 19;
}
.program-pendidikan-7 {
  position: absolute;
  height: 22px;
  top: 14px;
  left: 43px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 200, 60);
  font-size: 18px;
  font-weight: 500;
  line-height: 21.784px;
  text-align: left;
  z-index: 11;
}
.auto-layer-row-c-8 {
  position: relative;
  width: 1320px;
  height: 489px;
  margin: 29px 0 0 20px;
  z-index: 123;
}
.cil-institution {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  z-index: 20;
  overflow: hidden;
}
.vector-9 {
  position: relative;
  width: 22.5px;
  height: 22.577px;
  margin: 0.67px 0 0 0.75px;
  background: url(./assets/images/fbeb595a-8c6c-4f00-b242-bb7127f73160.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 21;
}
.lembaga {
  position: absolute;
  height: 22px;
  top: 0;
  left: 40px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 21.784px;
  text-align: left;
  z-index: 12;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: absolute;
  width: 950px;
  height: 488px;
  top: 1px;
  left: 333px;
  border: 2px solid rgb(0, 0, 0);
  z-index: 40;
}
.frame-a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 950px;
  height: 61px;
  border: 2px solid rgb(0, 0, 0);
  z-index: 41;
}
.frame-b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 50px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(51, 122, 183);
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
  z-index: 42;
}
.label {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  z-index: 43;
}
.frame-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(51, 122, 183);
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  z-index: 44;
}
.label-d {
  flex-shrink: 0;
  position: relative;
  width: 107px;
  height: 40px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  z-index: 45;
}
.frame-e {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(51, 122, 183);
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  z-index: 46;
}
.label-f {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  z-index: 47;
}
.frame-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(51, 122, 183);
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  z-index: 48;
}
.label-11 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  z-index: 49;
}
.frame-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(51, 122, 183);
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  z-index: 50;
}
.label-13 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  z-index: 51;
}
.frame-14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(51, 122, 183);
  border-top: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  z-index: 52;
}
.label-15 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  z-index: 53;
}
.frame-16 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 950px;
  height: 106.75px;
  z-index: 54;
}
.frame-17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 50px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(255, 255, 255);
  z-index: 55;
}
.label-18 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(13, 9, 9);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  z-index: 56;
}
.frame-19 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(255, 255, 255);
  z-index: 57;
}
.label-1a {
  flex-shrink: 0;
  position: relative;
  width: 156px;
  height: 41px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(13, 9, 9);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  z-index: 58;
}
.frame-1b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(255, 255, 255);
  z-index: 59;
}
.label-1c {
  flex-shrink: 0;
  position: relative;
  width: 168px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 13.123px;
  text-align: justified;
  z-index: 60;
}
.pendidikan-vokasi {
  position: relative;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 11px;
  font-weight: 400;
  line-height: 13.123px;
  text-align: justified;
}
.vokasi-pendidikan {
  position: relative;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 11px;
  font-weight: 400;
  line-height: 13.123px;
  text-align: justified;
}
.empty {
  position: relative;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 11px;
  font-weight: 400;
  line-height: 13.123px;
  text-align: justified;
}
.frame-1d {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(255, 255, 255);
  z-index: 61;
}
.image {
  flex-shrink: 0;
  position: relative;
  width: 130px;
  height: 73.252px;
  background: url(./assets/images/73fb0dcff047a92d2e66b088beabf663f1c1ce9e.png)
    no-repeat center;
  background-size: cover;
  z-index: 62;
}
.frame-1e {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(255, 255, 255);
  z-index: 63;
}
.label-1f {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(13, 9, 9);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  z-index: 64;
}
.frame-20 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(255, 255, 255);
  z-index: 65;
}
.icon-crud {
  flex-shrink: 0;
  position: relative;
  width: 89px;
  height: 25px;
  z-index: 66;
}
.bxs-edit {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 37px;
  background: url(./assets/images/fc917010-187b-4f35-bb94-76a30cb4e628.png)
    no-repeat center;
  background-size: cover;
  z-index: 70;
  overflow: hidden;
}
.material-symbols-visibility {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1px;
  left: 0;
  z-index: 67;
  overflow: hidden;
}
.vector-21 {
  position: relative;
  width: 22px;
  height: 15px;
  margin: 4px 0 0 1px;
  background: url(./assets/images/4a1611de-0f54-4a33-8edd-716d82fbbb48.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 68;
}
.vector-22 {
  position: absolute;
  width: 16.85%;
  height: 68%;
  top: 16%;
  left: 83.15%;
  background: url(./assets/images/f2c09c88-e495-4b63-bd48-ddb22aef5d5c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 69;
}
.frame-23 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 950px;
  height: 106.75px;
  z-index: 71;
}
.frame-24 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 50px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(210, 215, 220);
  z-index: 72;
}
.label-25 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(34, 29, 29);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  z-index: 73;
}
.frame-26 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(210, 215, 220);
  z-index: 74;
}
.label-27 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(34, 29, 29);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  z-index: 75;
}
.frame-28 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(210, 215, 220);
  z-index: 76;
}
.label-29 {
  flex-shrink: 0;
  position: relative;
  width: 167px;
  height: 78px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 11px;
  font-weight: 400;
  line-height: 13.123px;
  text-align: justified;
  z-index: 77;
}
.frame-2a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(210, 215, 220);
  z-index: 78;
}
.image-2b {
  flex-shrink: 0;
  position: relative;
  width: 130px;
  height: 90px;
  background: url(./assets/images/83fa391c7e5f748b0898dd80eee4ad4d82bc6a3c.png)
    no-repeat center;
  background-size: cover;
  z-index: 79;
}
.frame-2c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(210, 215, 220);
  z-index: 80;
}
.label-2d {
  flex-shrink: 0;
  position: relative;
  width: 74px;
  height: 40px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(34, 29, 29);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 81;
  overflow: hidden;
}
.frame-2e {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(210, 215, 220);
  z-index: 82;
}
.icon-crud-2f {
  flex-shrink: 0;
  position: relative;
  width: 89px;
  height: 25px;
  z-index: 83;
}
.bxs-edit-30 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 37px;
  background: url(./assets/images/ca1e90d9-2582-4b6a-8c79-d3e4f0c42663.png)
    no-repeat center;
  background-size: cover;
  z-index: 87;
  overflow: hidden;
}
.material-symbols-visibility-31 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1px;
  left: 0;
  z-index: 84;
  overflow: hidden;
}
.Vector {
  position: relative;
  width: 22px;
  height: 15px;
  margin: 4px 0 0 1px;
  background: url(./assets/images/65604899-a90c-4a69-8034-e5ea32fd1e65.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 85;
}
.Vector-32 {
  position: absolute;
  width: 16.85%;
  height: 68%;
  top: 16%;
  left: 83.15%;
  background: url(./assets/images/dd2e055d-1877-4116-a8bf-cfd06399a5d3.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 86;
}
.Frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 950px;
  height: 106.75px;
  z-index: 88;
}
.Frame-33 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 50px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(255, 255, 255);
  z-index: 89;
}
.label-34 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(13, 9, 9);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  z-index: 90;
}
.Frame-35 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(255, 255, 255);
  z-index: 91;
}
.label-36 {
  flex-shrink: 0;
  position: relative;
  width: 148px;
  height: 40px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(13, 9, 9);
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  z-index: 92;
}
.Frame-37 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(255, 255, 255);
  z-index: 93;
}
.Visi-yaitu-Menjadi {
  flex-shrink: 0;
  position: relative;
  width: 164px;
  height: 91px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 11px;
  font-weight: 400;
  line-height: 13.123px;
  text-align: justified;
  z-index: 94;
}
.Frame-38 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(255, 255, 255);
  z-index: 95;
}
.Frame-39 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(255, 255, 255);
  z-index: 96;
}
.label-3a {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(13, 9, 9);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  z-index: 97;
}
.Frame-3b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(255, 255, 255);
  z-index: 98;
}
.Icon-CRUD {
  flex-shrink: 0;
  position: relative;
  width: 89px;
  height: 25px;
  z-index: 99;
}
.bxs-edit-3c {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 37px;
  background: url(./assets/images/d80d643b-8b20-4e42-9291-661799e2c952.png)
    no-repeat center;
  background-size: cover;
  z-index: 103;
  overflow: hidden;
}
.material-symbols-visibility-3d {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1px;
  left: 0;
  z-index: 100;
  overflow: hidden;
}
.Vector-3e {
  position: relative;
  width: 22px;
  height: 15px;
  margin: 4px 0 0 1px;
  background: url(./assets/images/0d2625ce-8bb8-4129-8dd0-4d7945e47ac4.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 101;
}
.Vector-3f {
  position: absolute;
  width: 16.85%;
  height: 68%;
  top: 16%;
  left: 83.15%;
  background: url(./assets/images/ef8ad262-7f2d-4309-a5b9-2c0918061518.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 102;
}
.Frame-40 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 950px;
  height: 106.75px;
  z-index: 104;
}
.Frame-41 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 50px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(210, 215, 220);
  z-index: 105;
}
.label-42 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(6, 2, 2);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  z-index: 106;
}
.Frame-43 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(210, 215, 220);
  z-index: 107;
}
.label-44 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(34, 29, 29);
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  z-index: 108;
}
.frame-45 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(210, 215, 220);
  z-index: 109;
}
.span-label {
  flex-shrink: 0;
  position: relative;
  width: 166px;
  height: 104px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 11px;
  font-weight: 400;
  line-height: 13.123px;
  text-align: justified;
  z-index: 110;
}
.frame-46 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(210, 215, 220);
  z-index: 111;
}
.image-47 {
  flex-shrink: 0;
  position: relative;
  width: 135.246px;
  height: 90px;
  background: url(./assets/images/01d1c86becc2cd102d79e1dfa5e8b7c3d46dd363.png)
    no-repeat center;
  background-size: cover;
  z-index: 112;
}
.frame-48 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(210, 215, 220);
  z-index: 113;
}
.span-label-49 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(34, 29, 29);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  z-index: 114;
}
.frame-4a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 180px;
  min-height: 0;
  padding: 10px 40px 10px 40px;
  background: rgb(210, 215, 220);
  z-index: 115;
}
.icon-crud-4b {
  flex-shrink: 0;
  position: relative;
  width: 89px;
  height: 25px;
  z-index: 116;
}
.bxs-edit-4c {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 37px;
  background: url(./assets/images/b8e621d8-7de0-4196-9597-90878ffaaf4e.png)
    no-repeat center;
  background-size: cover;
  z-index: 120;
  overflow: hidden;
}
.material-symbols-visibility-4d {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 1px;
  left: 0;
  z-index: 117;
  overflow: hidden;
}
.vector-4e {
  position: relative;
  width: 22px;
  height: 15px;
  margin: 4px 0 0 1px;
  background: url(./assets/images/d6f8ea28-f15c-4f85-ae63-abd30bba54fd.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 118;
}
.vector-4f {
  position: absolute;
  width: 16.85%;
  height: 68%;
  top: 16%;
  left: 83.15%;
  background: url(./assets/images/04050116-2f44-469e-9bf9-0d8f9ee3b001.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 119;
}
.fluent-sport-basketball-regular {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 54px;
  left: 0;
  z-index: 22;
  overflow: hidden;
}
.vector-50 {
  position: relative;
  width: 19.999px;
  height: 20px;
  margin: 2px 0 0 2px;
  background: url(./assets/images/95fad698-a9fd-4e2e-af1c-e29a8798ac4d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 23;
}
.span-fasilitas {
  position: absolute;
  height: 22px;
  top: 55px;
  left: 39px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 21.784px;
  text-align: left;
  z-index: 13;
}
.ic-round-school {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 83px;
  left: 226px;
  z-index: 2;
  overflow: hidden;
}
.vector-51 {
  position: relative;
  width: 20.907px;
  height: 17.447px;
  margin: 3.28px 0 0 2.093px;
  background: url(./assets/images/e39a8fba-2c90-47aa-922d-ff57bb180805.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 3;
}
.majesticons-logout-line {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 115px;
  left: 0;
  z-index: 25;
  overflow: hidden;
}
.vector-52 {
  position: relative;
  width: 16px;
  height: 20px;
  margin: 2px 0 0 4px;
  background: url(./assets/images/b76bbc34-9cd0-4b59-99a2-e019f191970c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 26;
}
.span-logout {
  position: absolute;
  height: 22px;
  top: 115px;
  left: 39px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 21.784px;
  text-align: left;
  z-index: 14;
}
.whatsapp-image-at {
  position: absolute;
  width: 130px;
  height: 71.404px;
  top: 291px;
  left: 768px;
  background: url(./assets/images/b0de95e78bafcaddb52ff4e12a24b0f171fe93bd.png)
    no-repeat center;
  background-size: cover;
  z-index: 123;
}
.span-block {
  position: absolute;
  height: 12.35px;
  top: 414.55px;
  left: 1289px;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: 12.35px;
  text-align: center;
  z-index: 37;
}
.span-copyright {
  display: inline-block;
  position: relative;
  width: 509px;
  height: 36px;
  margin: 196px 0 0 586px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 500;
  line-height: 18.153px;
  text-align: left;
  z-index: 33;
}
